@{
    ViewData["Title"] = "Возврат и обмен товара";
    Layout = "_LayoutIndex";
}

<div class="bg-index text-center py-5 mb-4">
    <h1><b>Возврат и обмен товара</b></h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home" style="text-decoration: none; color: #fff">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Возврат и обмен товара</li>
        </ol>
    </nav>
</div>


<div class="container bg-white">

    <h4 class="my-4"><b>ВОЗВРАТ ТОВАРА В ТЕЧЕНИИ 14 ДНЕЙ СО ДНЯ ПОКУПКИ</b></h4>

    <p>
        В случае если не подошел размер, не понравился товар – связывайтесь с менеджером по почте example@mail.ru и мы организуем возврат.
        Если товар идеально новый, укомплектован полностью, подарки на месте. Возвращается вся сумма за товар, но все транспортные расходы оплачиваются покупателем.
    </p>

    <h4 class="my-4"><b>В СЛУЧАЕ БРАКА</b></h4>

    <p>
        В случае обнаружения брака, некомплекта и других факторов –
        незамедлительно связывайтесь с менеджером по почте example@mail.ru, мы организуем возврат и разберемся в ситуации.
        При вине с нашей стороны возвращается вся сумма заказа включая доставку.
    </p>

</div>