@{ Layout = "_Layout"; }

<div>

    <h4>ВОЗВРАТ ТОВАРА В ТЕЧЕНИИ 14 ДНЕЙ СО ДНЯ ПОКУПКИ</h4>

    <p>
        В случае если не подошел размер, не понравился товар – связывайтесь с менеджером по почте example@mail.ru и мы организуем возврат. 
        Если товар идеально новый, укомплектован полностью, подарки на месте. Возвращается вся сумма за товар, но все транспортные расходы оплачиваются покупателем.
    </p>

    <h4>В СЛУЧАЕ БРАКА</h4>

    <p>
        В случае обнаружения брака, некомплекта и других факторов – 
        незамедлительно связывайтесь с менеджером по почте example@mail.ru, мы организуем возврат и разберемся в ситуации. 
        При вине с нашей стороны возвращается вся сумма заказа включая доставку.
    </p>

</div>