@{
    ViewData["Title"] = "О нас";
    Layout = "_LayoutIndex";
}

<div class="bg-index text-center py-5 mb-4">
    <h1><b>О нас</b></h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home" style="text-decoration: none; color:#fff">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">О нас</li>
        </ol>
    </nav>
</div>



<div class="container bg-white card-radius">
    <div class="py-3">
        <h4 class="text-center mb-4"><b>О НАС</b></h4>
        <p>
            <b>ClotH</b> – это отечественный street wear-магазин основанный в южной столице в 2022 году.
            В магазине собрана полная линейка марки: анораки, футболки, брюки, свитшоты, рубашки, куртки, поясные сумки и кепки — она постоянно обновляется за счет новых коллабораций с
            известными художниками, иллюстраторами и другими участниками уличного движения.
        </p>

        <p>
            Дополнительно к основному ассортименту магазина, из обуви представлены только <b>оригинальные бренды</b>, такие как Nike Sportswear, Nike SB и Saucony Originals.
        </p>

        <p>
            Магазин воплощает идею о том, что уличная одежда в своем первозданном виде должна быть доступной.
            Настоящая уличная одежда далека от массовой моды, она является мерчем уличного сообщества, впитывает дух и энергетику людей.
            Бренд Anteater тесно сотрудничает с экстремалами, татуировщиками, граффити-художниками, иллюстраторами, дизайнерами и другими активистами стрит-комьюнити.
            Продукт постоянно тестируется и совершенствуется благодаря тесному контакту с целевой аудиторией.
        </p>

        <h4 class="text-center my-4"><b>НАШИ РЕКВИЗИТЫ</b></h4>
        <p>
            Якимцев Даниил Владимирович (ИП)
        </p>

        <p>
            <b>Расчетный счет N</b> 40000000000000000000
        </p>

        <p>
            В ОАО ПСКБ г. Ростов-на_дону
        </p>

        <p>
            <b>К/сч.</b> 30000000000000000000 <b>БИК</b> 000000000
        </p>

        <p>
            <b>ИНН</b> 700000000000
        </p>

        <p>
            <b>ОГРНИП</b> 300000000000000
        </p>

        <p>
            <b>Телефон офиса:</b>
        </p>

        <p>
            8 (800) 555-3535 с 10 до 18 по рабочим дням
        </p>

        <p>
            <b>Юр. адрес:</b> Ростов-на-Дону, пл. Гагарина, 1
        </p>

        <p>
            <b>Факт. адрес:</b> Ростов-на-Дону, пл. Гагарина, 1
        </p>
    </div>
</div>