@{
    Layout = "_Layout";
}

<div>
    <h4 class="text-center">О нас</h4>
    <p>
        CREAMSHOP – это отечественный street wear-магазин основанный в северной столице в 2008 году и представляющий собственный бренд Anteater.
        В магазине собрана полная линейка марки: анораки, футболки, брюки, свитшоты, рубашки, куртки, поясные сумки и кепки — она постоянно обновляется за счет новых коллабораций с
        известными художниками, иллюстраторами и другими участниками уличного движения.
    </p>
    <span></span>
    <p>
        Дополнительно к основному ассортименту магазина, из обуви представлены только оригинальные бренды, такие как Nike Sportswear, Nike SB и Saucony Originals.
    </p>
    <span></span>
    <p>
        Магазин воплощает идею о том, что уличная одежда в своем первозданном виде должна быть доступной.
        Настоящая уличная одежда далека от массовой моды, она является мерчем уличного сообщества, впитывает дух и энергетику людей.
        Бренд Anteater тесно сотрудничает с экстремалами, татуировщиками, граффити-художниками, иллюстраторами, дизайнерами и другими активистами стрит-комьюнити.
        Продукт постоянно тестируется и совершенствуется благодаря тесному контакту с целевой аудиторией.
    </p>
    <span></span>
    <h4 class="text-center">Наши реквизиты</h4>
    <p>
        Яруцкая Ольга Николаевна (ИП)
    </p>
    <span></span>
    <p>
        Расчетный счет N 40802810800000013800
    </p>
    <span></span>
    <p>
        В ОАО ПСКБ г. Санкт-Петербург
    </p>
    <span></span>
    <p>
        К/сч. 30101810000000000852 БИК 044030852
    </p>
    <span></span>
    <p>
        ИНН 781661103286
    </p>
    <span></span>
    <p>
        ОГРНИП 307784719700349
    </p>
    <span></span>
    <p>
        Телефон офиса:
    </p>
    <span></span>
    <p>
        8 (812) 601-0710 с 10 до 18 по рабочим дням
    </p>
    <span></span>
    <p>
        Юр. адрес: 194352, Санкт-Петербург, ул. Руднева д. 22 Корп. 1 кв. 52
    </p>
    <span></span>
    <p>
        Факт. адрес: 194156, Санкт-Петербург, пр. Энгельса д. 27 Корп. 7
    </p>
    <span></span>
</div>