@{
    ViewData["Title"] = "Контакты";
    Layout = "_LayoutIndex";
}

<div class="bg-index text-center py-5 mb-4">
    <h1><b>Контакты</b></h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home" style="text-decoration: none; color:#fff">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Контакты</li>
        </ol>
    </nav>
</div>


<div class="container bg-white">
    <div class="row row-cols-3">
        <div class="col text-center">
            <h4>Телефон</h4>

            <p>Телефон офиса: 8-000-000-00-00</p>

            <p>Телефон магазина: 8-000-000-00-00</p>
        </div>
        <div class="col text-center">
            <h4>Адрес офиса</h4>

            <p>Адрес магазина: ул. Такая, д. 50</p>
        </div>
        <div class="col text-center">
            <h4>Эл. почта</h4>

            <p>
                Менеджер онлайн-магазина:
                example@mail.ru
            </p>
        </div>
    </div>
    <div style="margin-right:auto; margin-left: auto">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1808.0352312248576!2d39.7119331548038!3d47.23630234958138!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40e3bbd25efc8dab%3A0xe71795934da757ba!2z0JTQvtC90YHQutC-0Lkg0LPQvtGB0YPQtNCw0YDRgdGC0LLQtdC90L3Ri9C5INGC0LXRhdC90LjRh9C10YHQutC40Lkg0YPQvdC40LLQtdGA0YHQuNGC0LXRgg!5e0!3m2!1sru!2sru!4v1651256956529!5m2!1sru!2sru"
                width="1300" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

</div>

