@{
    ViewData["Title"] = "Доставка";
    Layout = "_LayoutIndex";
}

<div class="bg-index text-center py-5 mb-4">
    <h1><b>Доставка</b></h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home" style="text-decoration: none; color:#fff">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Доставка</li>
        </ol>
    </nav>
</div>

<div class="container bg-white card-radius">
    <div class="py-3">
        <h4 class="mb-4"><b>СТОИМОСТЬ ДОСТАВКИ</b></h4>
        <p>
            Сумма доставки зависит от общей суммы заказа.
            При отправке магазин оплачивает упаковку, страховые взносы, плату за доставку и услуги почты – из этого и формируется стоимость доставки.
            После заказа менеджер рассчитывает стоимость и сообщает её Вам по почте.
            Если Вас устраивают расчёты и Вы убедились в правильности информации доставки – Вам следует подтвердить заказ, ответив менеджеру на письмо,
            в противном случае заказ не будет отправлен.
        </p>

        <h4 class="my-4"><b>ОТПРАВКА ЗАКАЗА</b></h4>
        <p>Отправка производится 5 раз в неделю (с понедельника по пятницу). Срок доставки: от 3 до 10 дней, в зависимости от региона.</p>

        <h4 class="my-4"><b>ОПРЕДЕЛЕНИЕ РАЗМЕРА </b></h4>
        <p>
            Все размеры обуви указываются в сетке UK (Английская сетка), смотрите таблицу размеров. Если Вы не уверены в своём размере, рекомендуем определиться.
            Лучший вариант – посмотреть информацию на ярлыке Вашей спортивной обуви,
            так как в случае возврата (по причине ошибочного размера) стоимость доставки к Вам и обратно – за Ваш счёт.
        </p>
    </div>

    
</div>