@{
    ViewData["Title"] = "Вопросы";
    Layout = "_LayoutIndex";
}

<div class="bg-index text-center py-5 mb-4">
    <h1><b>Вопросы</b></h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home" style="text-decoration: none; color: #fff">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Вопросы</li>
        </ol>
    </nav>
</div>

<div class="container bg-white card-radius">
    <div class="py-3">
        <p>Процедура покупки товара в нашем интернет-магазине очень проста и состоит из нескольких шагов.</p>

        <h4 class="my-4"><b>1. ОФОРМЛЕНИЕ ЗАКАЗА</b></h4>

        <p>После выбора товара нажмите кнопку В <b>корзину </b>— товар добавится в вашу корзину.</p>

        <p>Далее, если вы закончили выбирать товар, нажмите кнопку <b>ваша корзина</b>.</p>

        <p>На странице ваша корзина будут перечислены все выбранные вами <b>товары</b>.</p>

        <h4 class="my-4"><b>2. ОФОРМЛЕНИЕ И ПОДТВЕРЖДЕНИЕ ЗАКАЗА</b></h4>

        <p>После ввода необходимой информации о доставке товара для оформления заказа вам нужно нажать кнопку <b>Оформить заказ</b>.</p>
    </div>
</div>


