@{
    ViewData["Title"] = "Home Page";
}

<a asp-action="Catalog" class="btn btn-dark">Каталог</a>

@*карусель*@
<section>
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">

                <div class="row row-cols-1 row-cols-md-4 g-4 row-cols-sm-3">
                    <div class="col">
                        <div class="card h-100">
                            <img src="~/img/boots.jpeg" class="card-img-top img-fluid" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Заглушка</h5>
                                <p class="card-text">Заглушка</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="~/img/boots.jpeg" class="card-img-top img-fluid" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Заглушка</h5>
                                <p class="card-text">Заглушка</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="~/img/boots.jpeg" class="card-img-top img-fluid" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Заглушка</h5>
                                <p class="card-text">Заглушка</p>
                            </div>
                        </div>
                    </div>
                    <div class="col d-sm-none d-md-block">
                        <div class="card h-100">
                            <img src="~/img/boots.jpeg" class="card-img-top img-fluid" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Заглушка</h5>
                                <p class="card-text">Заглушка</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <div class="row row-cols-1 row-cols-md-4 g-4 row-cols-sm-3">
                    <div class="col">
                        <div class="card h-100">
                            <img src="~/img/boots.jpeg" class="card-img-top img-fluid" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Заглушка</h5>
                                <p class="card-text">Заглушка</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="~/img/boots.jpeg" class="card-img-top img-fluid" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Заглушка</h5>
                                <p class="card-text">Заглушка</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="~/img/boots.jpeg" class="card-img-top img-fluid" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Заглушка</h5>
                                <p class="card-text">Заглушка</p>
                            </div>
                        </div>
                    </div>
                    <div class="col d-sm-none d-md-block">
                        <div class="card h-100">
                            <img src="~/img/boots.jpeg" class="card-img-top img-fluid" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Заглушка</h5>
                                <p class="card-text">Заглушка</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row row-cols-1 row-cols-md-4 g-4 row-cols-sm-3">
                    <div class="col">
                        <div class="card h-100">
                            <img src="~/img/boots.jpeg" class="card-img-top img-fluid" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Заглушка</h5>
                                <p class="card-text">Заглушка</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="~/img/boots.jpeg" class="card-img-top img-fluid" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Заглушка</h5>
                                <p class="card-text">Заглушка</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="~/img/boots.jpeg" class="card-img-top img-fluid" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Заглушка</h5>
                                <p class="card-text">Заглушка</p>
                            </div>
                        </div>
                    </div>
                    <div class="col d-sm-none d-md-block">
                        <div class="card h-100">
                            <img src="~/img/boots.jpeg" class="card-img-top img-fluid" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Заглушка</h5>
                                <p class="card-text">Заглушка</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Предыдущий</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Следующий</span>
        </button>`
    </div>
</section>

@*коллекции*@
<section>
    <div class=row>
        <div class="col">

            <div class="card mb-3">
                <img src="~/img/boots.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Заглушка</h5>
                    <p class="card-text">Заглушка</p>
                </div>
            </div>

        </div>
        <div class="col">

            <div class="card mb-3">
                <img src="~/img/boots.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Заглушка</h5>
                    <p class="card-text">Заглушка</p>
                </div>
            </div>

        </div>
        <div class="col">

            <div class="card mb-3">
                <img src="~/img/boots.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Заглушка</h5>
                    <p class="card-text">Заглушка</p>
                </div>

            </div>

        </div>
    </div>
</section>

@*Тут ещё одна карусель с карточками должна быть*@
<section>
    <div id="Geralt" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#Geralt" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#Geralt" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#Geralt" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card h-100">
                            <img src="~/img/boots.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Геральт принёс букет</h5>
                                <p class="card-text">Букет самых лучших цветов и он для тебя</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="~/img/boots.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Геральт принёс букет</h5>
                                <p class="card-text">Букет самых лучших цветов и он для тебя</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="~/img/boots.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Геральт принёс букет</h5>
                                <p class="card-text">Букет самых лучших цветов и он для тебя</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card h-100">
                            <img src="~/img/boots.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Геральт принёс букет</h5>
                                <p class="card-text">Букет самых лучших цветов и он для тебя</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="~/img/boots.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Геральт принёс букет</h5>
                                <p class="card-text">Букет самых лучших цветов и он для тебя</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="~/img/boots.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Геральт принёс букет</h5>
                                <p class="card-text">Букет самых лучших цветов и он для тебя</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card h-100">
                            <img src="~/img/boots.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Геральт принёс букет</h5>
                                <p class="card-text">Букет самых лучших цветов и он для тебя</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="~/img/boots.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Геральт принёс букет</h5>
                                <p class="card-text">Букет самых лучших цветов и он для тебя</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="~/img/boots.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Геральт принёс букет</h5>
                                <p class="card-text">Букет самых лучших цветов и он для тебя</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#Geralt" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Предыдущий</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#Geralt" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Следующий</span>
        </button>
    </div>
</section>

@*Рассылка*@
<section>
    <div style="min-height:10rem; background-color:#22B522; color: #fff; width: 100%; margin: 0;">
        <div class="row">
            <div class="col-4" style="padding-top: 2%; padding-bottom: 2%">
                <h2>Подпишись на рассылку новостей и получи скидку 10%</h2>
            </div>
            <div class="col" style="padding-top: 5%; padding-bottom: 2%">
                <button type="button" class="btn btn-dark">Подписаться</button>
            </div>
        </div>
    </div>
</section>

@*О нас*@
<section>
    <div class="row" style="margin-top: 2%">
        <div class="col">
            <h4>Каталог</h4>
            <p>Одежда</p>
            <p>Обувь</p>
            <p>Аксессуары</p>
        </div>
        <div class="col">
            <h4>Коллекции</h4>
            <p>Заглушка</p>
            <p>Заглушка</p>
            <p>Заглушка</p>
        </div>
        <div class="col">
            <h4>Товары</h4>
            <p>Кроссовки</p>
            <p>Кроссовки для бега</p>
            <p>Худи</p>
            <p>Толстовкм</p>
            <p>Футболки</p>
        </div>
        <div class="col">
            <h4>Поддержка</h4>
            <p>Доставка</p>
            <p>Возврат товара</p>
            <p>Отмена заказа</p>
            <p>Акции и промокоды</p>
        </div>
        <div class="col">
            <h4>О нас</h4>
            <p>Информация о компании</p>
            <p>Карьера</p>
            <p>Сотрудничество</p>
            <p>Блог</p>
            <p>Мы в соцсетях</p>
        </div>
    </div>
</section>
