html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 0;
    height:100%;
}

.button-text:active, .button-text:focus, .button-text:hover, .button-text {
    outline: 0 !important;
    border: 0 !important;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

    .button-text::-moz-focus-inner {
        border: 0 !important;
    }

.button-text-left:active, .button-text-left:focus, .button-text-left:hover, .button-text-left {
    outline: 0 !important;
    border: 0 !important;
    background-color: #fff;
    display: block;
}

    .button-text-left::-moz-focus-inner {
        border: 0 !important;
    }

.img-carousel {
    text-align: -webkit-center;
}

.bg-white {
    background-color: #fff;
}

.form-item-center{
    margin-right:auto;
    margin-left:auto;
}

.bg-gray {
    background-color: #E9E9E9;
}

.cart-text td {
    vertical-align: sub;
}

.bg-index {
    background-color: #212529; 
    color: #fff;
}

.card-radius {
    border-radius: 10px;
}

/*.footer {*/
    /*position: absolute;*/
    /*left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
}*/