@model IEnumerable<Brand>

@{
    Layout = "_AdminLayout";
}
<div class="row">
    <div class="col">
        <h1>Бренды</h1>
    </div>
    <div class="col">
        <a class="btn btn-outline-dark mt-3" asp-action="BrandsAdd">Добавить бренд</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Название бренда</th>
        </tr>
    </thead>

    @foreach (Brand b in Model)
    {
        <tr>
            <td class="p-2">@b.Id</td>
            <td class="p-2">@b.Name</td>

            @if (User.Identity.IsAuthenticated)
            {

                <td><a class="btn btn-outline-dark" asp-action="BrandsUpdate" asp-route-id="@b.Id">Изменить</a></td>
                <td><a class="btn btn-outline-danger" asp-action="BrandsDelete" asp-route-id="@b.Id">Удалить</a></td>
            }
        </tr>
    }
</table>

