@model Brand

@{
    Layout = "_AdminLayout";
}
<h1>Добавление бренда</h1>
<div class="row">
    <div class="col-auto">
        <form asp-action="BrandsAdd" method="post">
            <label>Имя</label>
            <input class="form-control" asp-for="Name" />
            <button type="submit" class="btn btn-outline-dark mt-2">Отправить</button>
        </form>
    </div>
</div>