@model Brand

<div class="row">
    <div class="col-auto">
        <form asp-action="BrandsAdd" method="post">
            <label>Имя</label>
            <input class="form-control" asp-for="Name" />
            <button type="submit" class="btn btn-success">Отправить</button>
        </form>
    </div>
</div>