@model IEnumerable<Brand>

    <div>
        <a class="btn btn-success" asp-action="BrandsAdd">Добавить бренд</a>
    </div>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Название бренда</th>
    </tr>
    @foreach (Brand b in Model)
    {
        <tr>
            <td>@b.Id</td>
            <td>@b.Name</td>
            
            @if (User.Identity.IsAuthenticated)
            {
                <td><a class="btn btn-danger" asp-action="Delete" asp-route-id="@b.Id">Удалить</a></td>
                <td><a class="btn btn-success" asp-action="UpdateForm" asp-route-id="@b.Id">Обновить</a></td>
            }
        </tr>
    }
</table>