@model IEnumerable<Category>

    <div>
        <a class="btn btn-success" asp-action="CategoriesAdd">Добавить категорию</a>
    </div>

    <table class="table">
        <tr>
            <th>Id</th>
            <th>Название категории</th>
        </tr>
        @foreach (Category c in Model)
        {
        <tr>
            <td>@c.Id</td>
            <td>@c.Name</td>

            @if (User.Identity.IsAuthenticated)
            {
            <td><a class="btn btn-danger" asp-action="Delete" asp-route-id="@c.Id">Удалить</a></td>
            <td><a class="btn btn-success" asp-action="UpdateForm" asp-route-id="@c.Id">Обновить</a></td>
            }
        </tr>
        }
    </table>
