@model IEnumerable<Category>

@{
    Layout = "_AdminLayout";
}
<div class="row">
    <div class="col">
        <h1>Категории</h1>

    </div>
    <div class="col">
        <a class="btn btn-outline-dark mt-3" asp-action="CategoriesAdd">Добавить категорию</a>

    </div>
</div>

<table class="table">
    <thead>

        <tr><th>Id</th><th>Название категории</th></tr>

    </thead>
    <tbody>
        @foreach (Category c in Model)
        {
            <tr>
                <td class="p-2">@c.Id</td>
                <td class="p-2">@c.Name</td>

                @if (User.Identity.IsAuthenticated)
                {
                    <td><a class="btn btn-outline-dark" asp-action="CategoriesUpdate" asp-route-id="@c.Id">Изменить</a></td>
                    <td><a class="btn btn-outline-danger" asp-action="CategoriesDelete" asp-route-id="@c.Id">Удалить</a></td>

                }
            </tr>
        }
    </tbody>

</table>
