<div class="btn-group" role="group" aria-label="Basic outlined example">
    <a class="btn btn-outline-primary" asp-action="BrandsView">Brands</a>
    <a class="btn btn-outline-primary" asp-action="CategoriesView">Categories</a>
    <a class="btn btn-outline-primary" asp-action="OptionsView">Options</a>
    @* <a class="btn btn-outline-primary" asp-action="WarehouseView">Warehouse</a>  *@
    <a class="btn btn-outline-primary" asp-action="ProductView">Product</a>
</div>

<a class="btn btn-outline-success" asp-action="AdminProfile" asp-controller="Account">Вернуться</a>