@model Promocode
@{ Layout = "_AdminLayout"; }

<div class="row">
    <div class="col-auto">
        <form asp-action="PromocodeAdd" method="post" enctype="multipart/form-data">


            <label>Процент</label>
            <input class="form-control" asp-for="Percent" />

            <label>Дата начала</label>
            <input type="date" class="form-control" asp-for="StartDate" />

            <label>Дата окончания</label>
            <input type="date" class="form-control" asp-for="EndDate" />


            <button type="submit" class="btn btn-outline-dark">Отправить</button>
        </form>
    </div>
</div>