@model Remains

@{
    Layout = "_AdminLayout";
}

<div class="row">
    <div class="col-auto">
        <form asp-action="RemainsUpdate" method="post">

            <input type="hidden" asp-for="@Model.Id" />

            <label>Имя</label>
            <input class="form-control" asp-for="@Model.ProductId" />

            <label>Имя</label>
            <input class="form-control" asp-for="@Model.Size" />

            <label>Имя</label>
            <input class="form-control" asp-for="@Model.Count" />

            <button type="submit" class="btn btn-outline-dark">Отправить</button>
        </form>
    </div>
</div>
