@model IEnumerable<string>




<button class="btn button-text-left border-bottom" type="button" data-bs-toggle="collapse" data-bs-target="#categoryy" aria-expanded="false" aria-controls="categoryy">
    Категории:
</button>

<div class="collapse multi-collapse" id="categoryy">
    <div class="card card-body border-0">
        @foreach (string category in Model)
        {
            <a class="btn btn-block border-bottom
               @(category == ViewBag.SelectedCategory ? "btn-primary" : "btn-seconadry")"
               asp-action="Catalog"
               asp-controller="Catalog"
               asp-route-category="@category"
               asp-route-productPage="1">
                @category
            </a>
        }
    </div>
</div>

