@model IEnumerable<Cloth.Models.AppUser>

@{
    Layout = "_AdminLayout";
}

<div class="bg-dark text-white p-3"><h4>Пользователи</h4></div>

<table class="table table-sm table-bordered mt-2">

    <tr><th>Имя</th><th>Email</th></tr>

    @if (Model.Count() == 0)
    {
        <tr><td colspan="3" class="text-center">Нет пользователей</td></tr>
    }
    else
    {
        foreach (Cloth.Models.AppUser user in Model)
        {
            <tr>
                <td class="text-center p-2">@user.UserName</td>
                <td class="text-center p-2">@user.Email</td>
            </tr>
        }
    }

</table>
