@model IEnumerable<string>

<button class="btn button-text-left border-bottom my-2" type="button" data-bs-toggle="collapse" data-bs-target="#brand" aria-expanded="false" aria-controls="brand">
    Бренды:
</button>

<div class="collapse multi-collapse" id="brand">
    <div class="card card-body border-0">
        @foreach (string brand in Model)
        {
            <a class="btn btn-block border-bottom my-1
               @(brand == ViewBag.SelectedBrand ? "btn-primary" : "btn-seconadry")"
               asp-action="Catalog"
               asp-controller="Catalog"
               asp-route-brand="@brand"
               asp-route-productPage="1">
                @brand
            </a>
        }
    </div>
</div>

